<header>
  <h1 class="hidden">{{ title }}</h1>
  <div class="max-w-[1200px] m-auto">
      <div class="relative py-5 flex justify-between">
          <div class="text-center">
              <h1 class="text-[3em]">FLASH NEWS</h1>
          </div>
          <div class="">
              <p>{{ currentDate }}</p>
          </div>
      </div>
  </div>
</header>

<div class="max-w-[1200px] m-auto sticky top-0 z-50 bg-white py-5">
  <div class="flex justify-between items-center">
      <div class="flex gap-3">
          <input type="text" [(ngModel)]="query" placeholder="Search" id="search" class="outline-none rounded-lg border-[1px] px-2 py-1">
          <button (click)="search()" class="border-[1px] rounded-lg px-2 py-1 bg-[#326891]">
              <span class="text-white">Go</span>
          </button>
      </div>
      <div class="flex gap-3 ">
        <div class="cursor-pointer">
            <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                Home
            </a>
          </div>
          <div class="cursor-pointer">
            <a routerLink="/real-time-news" routerLinkActive="active-link">
                Real-Time News
            </a>
          </div>
          <div class="cursor-pointer">
            <a routerLink="/top-stories" routerLinkActive="active-link">
                Top Stories
            </a>
          </div>
          <div class="cursor-pointer">
            <a routerLink="/most-popular" routerLinkActive="active-link">
                Most Popular
            </a>
          </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>